/* Estilos generales para el contenedor del formulario */
.cipher-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.id-help{
  display: flex;
  justify-content: center;
}


.form-group {
  margin-bottom: 20px;
}

.form-group-copy {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

textarea, input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input-result{
  width: 136%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: none;
}

.button-group {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.encrypt-btn {
  background-color: #4CAF50;
}

.decrypt-btn {
  background-color: #f32121;
}

.decrypt-btn-copy {
  background-color: #1b87e0;
  margin-left: 100px;
}


button:hover {
  opacity: 0.9;
}

.result {
  margin-top: 20px;
}

.result p {
  font-size: 18px;
  color: #333;
  word-wrap: break-word;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .cipher-container {
    padding: 15px;
  }

  textarea, input {
    font-size: 14px;
    padding: 8px;
  }

  .decrypt-btn-copy {
    margin-left: 85px;
    padding: 11px 16px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}


/* Contenedor del switch */
.switch-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input {
display: none;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: red; 
transition: .4s;
border-radius: 34px;
}

.slider::before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
transition: .4s;
border-radius: 50%;
}

input:checked + .slider {
background-color: blue; 
}

input:checked + .slider::before {
transform: translateX(26px);
}

.color-display {
margin-top: 10px;
margin-bottom: 10px;
font-size: 18px;
text-align: center;
}
